.shop1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.disabledLabel {
  color: #55555585;
  cursor: default !important;
}

.custom_single_cat_menu {
  left: 328px !important;
}

.custom_sub_menu {
  width: 330px !important;
}

.sidebar-widgets-wrap .widget {
  padding-top: 20px;
}

.sidebar-widgets-wrap .widget {
  margin-top: 20px;
}

